<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mod By Me</title>
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="js/respond.src.js" type="text/javascript"></script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.tooltipster.min.js"></script>

	<script type="text/javascript">

	function handleResize() {
		var DocHeight = $(window).height();
$(".dsgn-rm-right-col").height(DocHeight-150);
$(".tab-container").height(DocHeight-440);
$(".model-col").height(DocHeight-200);

$(".tab-container").css({"overflow-x": "hidden", "overflow-y": "auto"});
$(".model-col").css({"overflow-x": "hidden", "overflow-y": "auto"})

	}

		function handleResize2() {
		var DocHeight = $(window).height();
$(".dsgn-rm-right-col").height(DocHeight-10);
$(".tab-container").height(DocHeight-380);
$(".model-col").height(DocHeight-90);

$(".tab-container").css({"overflow-x": "hidden", "overflow-y": "auto"});
$(".model-col").css({"overflow-x": "hidden", "overflow-y": "auto"})

	}

function mdscreen() {



	if($(window).innerWidth() <= 1200) {
   handleResize2();
} else {
  handleResize();
}

}

	$(function(){
		mdscreen();

$(document).ready(function() {





	$('html').click(function(e) {
	$(".open-popup").removeClass("open-popup")
 })



$(".hot-spot-icon").click(function(e){

$(this).toggleClass("open-popup");
e.stopPropagation();


});



$('.bullet-popup').click(function(e){
	 e.stopPropagation();
 });







	 mdscreen();



$( ".hot-spot-icon" ).hover(function() {
  $( this ).toggleClass( "showtooltip" );


});

});

$(window).resize(function(){
		mdscreen();
});

});

	</script>


</head>

<body>

<div style="width:100%; height:100%;  position:relative;  overflow:hidden;">

<header>


<div class="full-width header-column">
<div class="center-column">

<div class="logo-col">
  <%= image_tag "logo.png", width:"145" %>
</div>
<div class="head2-nav">

<div class="head-nav1">




</div>

</div>
</div>
</div>

<div class="md-screen-head">
  <%= image_tag "logo.png", width:"140" %>
</div>

</header>

<!-- Content Colunm Start-->
<div class="full-width content-col">
<div class="center-column">

<div class="dsgn-rm-left-col">

<div class="full-width model-col">

<div class="text-center">
<div class="bullet-points">
<div class="full-width">
  <div class="hot-spot hot-sopt1">
<span class="hot-spot-icon "  >
<img src="images/spot-dot.png" width="23" height="23" />
<div class="bullet-tooltip">Click Here to Change Neckline</div>
<div class="bullet-popup">
<ul class="popup-list">

<li><%= image_tag "neckline-design1.jpg" %></li>
<li><%= image_tag "neckline-design2.jpg" %></li>
<li><%= image_tag "neckline-design3.jpg" %></li>
</ul>
</div>

</span>

</div>
<div class="hot-spot hot-sopt2"><span class="hot-spot-icon tooltip" title="Click here to change arm line"><img src="images/spot-dot.png" width="23" height="23" />
<div class="bullet-tooltip">Click Here to Change Neckline</div>
<div class="bullet-popup">
<ul class="popup-list">
<li><%= image_tag "neckline-design1.jpg" %></li>
<li><%= image_tag "neckline-design2.jpg" %></li>
<li><%= image_tag "neckline-design3.jpg" %></li>
</ul>
</div>
</span></div>
<div class="hot-spot hot-sopt3"><span class="hot-spot-icon tooltip" title="Click here to change"><img src="images/spot-dot.png" width="23" height="23" />
<div class="bullet-tooltip">Click Here to Change Neckline</div>
<div class="bullet-popup">
<ul class="popup-list">
<li><%= image_tag "neckline-design1.jpg" %></li>
<li><%= image_tag "neckline-design2.jpg" %></li>
<li><%= image_tag "neckline-design3.jpg" %></li>
</ul>
</div>
</span></div>
<div class="hot-spot hot-sopt4"><span class="hot-spot-icon tooltip" title="Click here to change"><img src="images/spot-dot.png" width="23" height="23" />
<div class="bullet-tooltip">Click Here to Change Neckline</div>
<div class="bullet-popup">
<ul class="popup-list">
<li><%= image_tag "neckline-design1.jpg" %></li>
<li><%= image_tag "neckline-design2.jpg" %></li>
<li><%= image_tag "neckline-design3.jpg" %></li>
</ul>
</div>
</span></div>
<div class="hot-spot hot-sopt5"><span class="hot-spot-icon tooltip" title="Click here to change"><img src="images/spot-dot.png" width="23" height="23" />
<div class="bullet-tooltip">Click Here to Change Neckline</div>
<div class="bullet-popup">
<ul class="popup-list">
<li><%= image_tag "neckline-design1.jpg" %></li>
<li><%= image_tag "neckline-design2.jpg" %></li>
<li><%= image_tag "neckline-design3.jpg" %></li>
</ul>
</div>
</span></div>
</div>
</div>
<img src="images/model-1.jpg" style="max-width:100%" class="model-img" /></div>

</div>

<div class="related-models">

<ul class="related-models-ul">
<li><%= image_tag "model-2.jpg" %></li>
<li><%= image_tag "model-3.jpg" %></li>
<li><%= image_tag "model-4.jpg" %></li>
<li><%= image_tag "model-5.jpg" %></li>
<li><%= image_tag "model-6.jpg" %></li>
</ul>
</div>

</div>
<div class="dsgn-rm-right-col">

<div class="full-width" style="margin-bottom:30px;">
<h1 class="color-orange no-margin">USD $189.99</h1>
<p class="no-top-margin"><b>Free Shipping</b></p>
<div>
<a href="#" class="btn-primary">Save</a>
<a href="#" class="btn-gray">Add to Cart</a>
</div>
</div>

<div class="full-width ">
<div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li>Edited Styles</li>
                <li>Designs</li>
            </ul>
            <div class="resp-tabs-container">

                <div id="tab1">
                   <div class="tab-container">
                   <div class="full-width">

                   <h3 class="orange no-top-margin">Fabrics</h3>
                   <ul class="thumbnails-list">
                    <li><%= image_tag "patterns/img1.jpg" %></li>
                    <li><%= image_tag "patterns/img2.jpg" %></li>
                    <li><%= image_tag "patterns/img3.jpg" %></li>
                    <li><%= image_tag "patterns/img4.jpg" %></li>
                    <li><%= image_tag "patterns/img5.jpg" %></li>
                    <li><%= image_tag "patterns/img6.jpg" %></li>
                    <li><%= image_tag "patterns/img7.jpg" %></li>
                    <li><%= image_tag "patterns/img8.jpg" %></li>
                    <li><%= image_tag "patterns/img9.jpg" %></li>
                    <li><%= image_tag "patterns/img10.jpg" %></li>
                    <li><%= image_tag "patterns/img11.jpg" %></li>
                    <li><%= image_tag "patterns/img12.jpg" %></li>
                    <li><%= image_tag "patterns/img13.jpg" %></li>
                    <li><%= image_tag "patterns/img14.jpg" %></li>
                    <li><%= image_tag "patterns/img15.jpg" %></li>
                   </ul>

                   <h3 class="orange ">X Factor </h3>
                   <div class="full-width">
                   <label><input name="" type="checkbox" checked="checked" value="" /> Pockets Invisible</label>
                   <p><b>X1</b></p>
                   <ul class="thumbnails-list">
                    <li><%= image_tag "patterns/x1-img1.jpg" %></li>
                    <li><%= image_tag "patterns/x1-img2.jpg" %></li>
                   </ul>
                   <p><b>X2</b></p><br />
<div><input name="" class="input-normal" type="text" Value="Milena"/></div>

<h3 class="orange ">Size</h3>
<p>Milena's - Small Banana Republic</p>
                   </div>



                   </div>
                  </div>
                </div>


                <div class="tab2">
                 <div class="tab-container">
                    <div class="full-width">
                    <h3 class="orange">Neck Line</h3>
                    <ul class="thumbnails-list">
                    <li><img src="images/patterns/neckline-1.jpg" /></li>
                    <li><img src="images/patterns/neckline-2.jpg"  /></li>
                    <li><img src="images/patterns/neckline-3.jpg"  /></li>
                   </ul>

                   <h3 class="orange">Fabric</h3>

                   <ul class="thumbnails-list">
                    <li><img src="images/patterns/img5.jpg" /></li>
                    <li><img src="images/patterns/img6.jpg"  /></li>
                    <li><img src="images/patterns/img11.jpg"  /></li>
                   </ul>

                   <h3 class="orange">Pattern</h3>

                   <ul class="thumbnails-list">

                    <li><img src="images/patterns/img3.jpg"  /></li>
                    <li><img src="images/patterns/img4.jpg"  /></li>
                    <li><img src="images/patterns/img5.jpg" /></li>
                    <li><img src="images/patterns/img12.jpg"/></li>
                   </ul>

                    </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="full-width" style="margin-top:20px;">
        <h2>Still Not Seeing What you are looking for?</h2>
        <p>Send us a picture or your scratch paper and we'll find a way to make it happen - we'll send you a proposal and go from there.</p>
        <input name="" type="button" class="submit-btn" value="Upload Here" />
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });


    });
</script>
</div>

</div>
</div>

<!-- Content Colunm End-->

</div>

</body>
</html>
